/********************************************/
/**
 *  Styles globaux
 */

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin-top: 2rem;
}

.header-container {
    margin-bottom: 5em;
}

.navbar {
    width: 100%;
    padding-left: 15%;
    position: fixed;
    top: 0;
    z-index: 2;
}

a, .nav-link {
    color: #0069c0;
}


/********************************************/
/**
 *  Flitre Des Sorties
 */

#filtreSorties {
    display: block;
    position: sticky;
    top: 2em;
    font-size: 0.9rem;
    line-height: 1;
    color: dimgray;
}


/********************************************/
/**
 *  Liste Flitrée Des Sorties
 */

#listeDesSorties .card {
    margin-bottom: 1em;
    border: none;
    background-color: rgba(255, 248, 240, 0.85);
}

/********************************************/
/**
 *  DEBUT Créer une sortie
 */

#creerSortie h1 {
    text-align: center;
    font-size: 35px;
}

#creerSortie form {
    text-align: center;
}

#creerSortie form .div-input {
    display: inline-block;
    width: 300px;
}

#creerSortie form div input{
    width: 200px;
}

#creerSortie .btn-form div {
    display: inline-block;
    width: 200px;
}

/********************************************/
/**
 *  DEBUT Afficher une sortie
 */
#afficherSortie h1 {
    text-align: center;
    font-size: 35px;
}

#afficherSortie .div-span {
    display: inline-block;
    width: 300px;
    margin: 0 6%;
    vertical-align: top;
}

#afficherSortie .div-span div {
    margin: 10px;
    padding: 10px;
    width: 500px;
}

/********************************************/