/********************************************/
/**
 *  Styles globaux
 */

:root {
    --highlight-font: 'Lora', serif;

    --primary-color: black;
    --highlight-color: #00317e;
    --primary-background-color: white;
    --highlight-background-color: #FFF8F0FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

a:link {
    text-decoration: none;
}

a:hover:not(.btn) {
    opacity: 0.7;
}

.container {
    width: 60%;
    margin-top: 5rem;
    padding: 0;
}

.header-container {
    width: 60%;
    position: fixed;
    top: 0;
    left: 20%;
    z-index: 2;
    background-color: var(--primary-background-color);
    border-bottom: 4px solid var(--highlight-color);
}

.nav-link {
    color: var(--highlight-color);
    text-decoration: none;
}
 .nav-link:hover {
     opacity: 0.7;
 }

 .btn {
     background-color: var(--highlight-color);
     border: none;
 }

.btn-sortie {
    text-align: center;
}

.btn-sortie div  {
    display: inline-block;
    width: 200px;
}


.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {
    background-color: darkgreen;
}

.flash-fail {
    background-color: darkred;
}

/********************************************/
/**
 *  Flitre Des Sorties
 */

#filtreSorties {
    display: block;
    top: 6rem;
    font-size: 0.9rem;
    line-height: 1;
}

#filtreSorties .filter {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
}

#filtreSorties .filter div,
#filtreSorties .filter form {
    margin-bottom: 1rem;
}

/********************************************/
/**
 *  Liste Flitrée Des Sorties
 */

#listeDesSorties {
    display: block;
}

#listeDesSorties .card {
    margin-bottom: 1em;
    border: none;
    background-color: var(--highlight-background-color);
}

#listeDesSorties .card h5 {
    font-family: var(--highlight-font);
    font-style: italic;
    font-size: 1.4em;
}

#listeDesSorties .card .info {
    color: var(--primary-color);
    font-size: 0.8em;
    line-height: 1;
}

#creerSortieCard {
    position: sticky;
    top: 5rem;
    z-index: 2;
}


/********************************************/
/**
 *  DEBUT Créer une sortie
 */

#formSortie h1 {
    text-align: center;
    font-size: 35px;
}

#formSortie form {
    text-align: center;
}

#formSortie form .div-input {
    display: inline-block;
    width: 300px;
}

#formSortie form div input{
    width: 200px;
}


/********************************************/
/**
 *  DEBUT Afficher une sortie
 */
#afficherSortie h1 {
    text-align: center;
    font-size: 35px;
}

#afficherSortie .div-span {
    display: inline-block;
    width: 300px;
    margin: 0 6%;
    vertical-align: top;
}

#afficherSortie .div-span>div {
    margin: 10px;
    padding: 10px;
    width: 500px;
}

#afficherSortie textarea {
    width: 240px;
    height: 150px;
}



/********************************************/

/********************************************/
/**
 *  DEBUT Liste des participants
 */
#listeParticipants .center {

}

#listeParticipants .table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
/********************************************/