* {
    margin: 0;
    box-sizing: border-box;
}


/********************************************/
/**
 *  Flitre Des Sorties
 */

#filtreSorties {
    display: block;
    position: sticky;
    top: 2em;
}


/********************************************/
/**
 *  Liste Flitrée Des Sorties
 */



/********************************************/
/**
 *  DEBUT Créer une sortie
 */

#creerSortie h1 {
    text-align: center;
    font-size: 35px;
}

#creerSortie form {
    text-align: center;
}

#creerSortie form .div-input {
    display: inline-block;
    width: 300px;
}

#creerSortie form div input{
    width: 200px;
}

#creerSortie .btn-form div {
    display: inline-block;
    width: 200px;
}

/********************************************/
/**
 *  DEBUT Afficher une sortie
 */
#afficherSortie h1 {
    text-align: center;
    font-size: 35px;
}

#afficherSortie .div-span {
    display: inline-block;
    width: 300px;
    margin: 0 6%;
    vertical-align: top;
}

#afficherSortie .div-span div {
    margin: 10px;
    padding: 10px;
    width: 500px;
}

/********************************************/