{# <nav class="header-nav"> #}
<div class="fixed-header row">
    <div class="col-md-8">
        <nav class="navbar navbar-expand-sm navbar-light">


            {% if app.user and app.user.administrateur %}
                <a class="nav-link" href="#" title="Liste des villes">Villes</a>
                <a class="nav-link" href="#" title="Liste des campus">Campus</a>
            {% endif %}
            <a class="nav-link" href="{{ path('sortie_list') }}" title="page d'accueil">Accueil</a>
            {% if app.user %}
                <a class="nav-link" href="{{ path('participant_afficher') }}" title="Profil">Mon profil</a>
                <a class="nav-link" href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}" title="Se connecter">Se connecter</a>
            {% endif %}


        </nav>
    </div>
    <div class="main-title-container col-md-4">
        <h1 class="main-title">Sortir</h1>
    </div>

</div>

