{# <nav class="header-nav"> #}
<nav class="navbar navbar-expand-sm navbar-light bg-light">

    {% if app.user and app.user.administrateur %}
        <a href="#" title="Liste des villes">Villes</a>
        <a href="#" title="Liste des campus">Campus</a>
    {% endif %}
    <a class="nav-link" href="{{ path('sortie_list') }}" title="page d'accueil">Accueil</a>
    {% if app.user %}
                <a class="nav-link" href="{{ path('participant_afficher') }}" title="Profil">Mon profil</a>
                <a class="nav-link" href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a>
    {% else %}
        <a class="nav-link" href="{{ path('app_login') }}" title="Se connecter">Se connecter</a>
    {% endif %}


</nav>